!!!
%html
  %head
    %title Fundraiser
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css"
    = stylesheet_link_tag    "fundraiser/application", :media => "all"
    = javascript_include_tag "fundraiser/application"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.1/underscore-min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"
    = stylesheet_link_tag    "crowdblog", :media => "all"
    = javascript_include_tag "crowdblog"

    = yield :scripts

    = csrf_meta_tags
  %body
    .container
      .row= render 'fundraiser/application/navbar'
      .row= render 'fundraiser/application/alerts'
      .row= yield
