!!!
%html
  %head
    %title Fundraiser
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css"
    = stylesheet_link_tag    "fundraiser/application", :media => "all"
    = javascript_include_tag "fundraiser/application"
    = csrf_meta_tags
    %script{:src => "https://js.stripe.com/v1/", :type => "text/javascript"}
    :javascript
      // this identifies your website in the createToken call below
      Stripe.setPublishableKey("#{Fundraiser::Settings.stripe_public_key}");
  %body
    .container
      .row= render 'fundraiser/application/navbar'
      .row= render 'fundraiser/application/alerts'
      .row= yield
