.row
  .span12
    %h1
      Total Contribution:
      %span.total #{number_to_currency Fundraiser::Contribution.total_contributed}
      of
      %span #{number_to_currency Fundraiser::Settings.funding_goal}
      until
      %span.date #{Fundraiser::Settings.funding_end_date}

.row
  .span6
    %h2
      Backed by
      %span.backers #{Fundraiser::Contribution.count}
      people
  .span5.offset1
    %h2 Choose a Rewar
.row
  .span6
    - if Fundraiser::Settings.is_open?
      = render 'fundraiser/rewards/payment_form'
    - else
      %h2 The Fundraiser is closed now.

  .span5.offset1
    #rewards
      = render @rewards
